Repository INemesisI/zephyr_io: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-diff, run-flow-tests, run-weave-tests

clang-format-diff:
  name: clang-format (staged hunks only)
  entry: bash -c 'git diff --cached | clang-format-diff -p1 -style=file:zephyr/.clang-format -i && git diff --name-only | xargs -r git add'
  language: system
  stages:
  - commit
  pass_filenames: false

run-flow-tests:
  name: Run Flow Tests
  entry: ./scripts/run_flow_tests.sh
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

run-weave-tests:
  name: Run Weave Tests
  entry: ./scripts/run_weave_tests.sh
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

Add scripts for generating Weave test and coverage report
  scripts/generate_weave_coverage.sh
  scripts/run_weave_tests.sh
  weave/samples/sensor_monitor/sample.yaml
  weave/samples/sensor_monitor/src/main.c
Due: clang-format-diff, run-weave-tests

Apply formatting to all files
  flow/include/zephyr_io/flow/flow.h
  flow/samples/basic_packet_routing/src/echo.c
  flow/samples/basic_packet_routing/src/main.c
  flow/samples/basic_packet_routing/src/processor.c
  flow/samples/basic_packet_routing/src/processor.h
  flow/samples/basic_packet_routing/src/sensors.c
  flow/samples/basic_packet_routing/src/validator.c
  flow/subsys/flow/flow.c
  flow/subsys/flow/flow_runtime.c
  flow/tests/subsys/flow/integration/src/main.c
  flow/tests/subsys/flow/runtime_test/src/main.c
  flow/tests/subsys/flow/unit_test/src/main.c
  register_mapper/include/zephyr_io/register_mapper/register_channel.h
  register_mapper/samples/device_config/src/motor_module.c
  register_mapper/samples/device_config/src/sensor_module.c
  weave/include/zephyr_io/weave/weave.h
  weave/samples/sensor_monitor/src/sensor_module.c
  weave/subsys/weave/weave_core.c
Due: clang-format-diff, run-flow-tests, run-weave-tests

Update flow documentation
  flow/README.md
  flow/doc/index.rst
  flow/samples/basic_packet_routing/README.md
Due: run-flow-tests

Switched runtime connection management to use pool allocation
  flow/doc/index.rst
  flow/include/zephyr_io/flow/flow.h
  flow/subsys/flow/Kconfig
  flow/subsys/flow/flow_runtime.c
  flow/tests/subsys/flow/runtime_test/prj.conf
  flow/tests/subsys/flow/runtime_test/src/main.c
Due: clang-format-diff, run-flow-tests

weave: use binary search for register mappings
  register_mapper/README.md
  register_mapper/doc/index.rst
  register_mapper/include/zephyr_io/register_mapper/register_mapper.h
  register_mapper/subsys/register_mapper/register_mapper.c
  register_mapper/tests/subsys/register_mapper/unit_test/src/test_advanced.c
Due: clang-format-diff

scripts: streamlined scripts, workflows and pre-commit hooks
  .github/workflows/module-coverage.yml
  .github/workflows/module-tests.yml
  .github/workflows/register_mapper_coverage.yml
  .github/workflows/register_mapper_tests.yml
  .github/workflows/reusable-coverage.yml
  .github/workflows/reusable-test.yml
  .pre-commit-config.yaml
  register_mapper/README.md
  register_mapper/tests/subsys/register_mapper/unit_test/src/test_advanced.c
  scripts/generate_coverage.sh
  scripts/generate_coverage_register_mapper.sh
  scripts/generate_flow_coverage.sh
  scripts/generate_weave_coverage.sh
  scripts/run_flow_tests.sh
  scripts/run_register_mapper_tests.sh
  scripts/run_tests.sh
  scripts/run_weave_tests.sh
Due: clang-format-diff

weave: add unit tests
  weave/include/zephyr_io/weave/weave.h
  weave/subsys/weave/weave_core.c
  weave/tests/subsys/weave/unit_test/CMakeLists.txt
  weave/tests/subsys/weave/unit_test/prj.conf
  weave/tests/subsys/weave/unit_test/src/test_common.c
  weave/tests/subsys/weave/unit_test/src/test_common.h
  weave/tests/subsys/weave/unit_test/src/test_concurrency.c
  weave/tests/subsys/weave/unit_test/src/test_error_paths.c
  weave/tests/subsys/weave/unit_test/src/test_init.c
  weave/tests/subsys/weave/unit_test/src/test_memory.c
  weave/tests/subsys/weave/unit_test/src/test_message_processing.c
  weave/tests/subsys/weave/unit_test/src/test_method_calls.c
  weave/tests/subsys/weave/unit_test/src/test_signals.c
  weave/tests/subsys/weave/unit_test/src/test_stress.c
  weave/tests/subsys/weave/unit_test/src/test_timeouts.c
  weave/tests/subsys/weave/unit_test/testcase.yaml
Due: clang-format-diff, run-weave-tests

flow: fix unit tests
  flow/tests/subsys/flow/unit_test/prj.conf
Due: run-flow-tests

CI: new workflow
  .github/actions/setup-zephyr-modules/action.yml
  .github/workflows/module-coverage.yml
  .github/workflows/module-tests.yml
  .github/workflows/reusable-coverage.yml
  .github/workflows/reusable-test.yml
  .github/workflows/test_and_coverage.yml
  scripts/generate_coverage.sh
  scripts/run_tests.sh
Due: none

weave: fix tests and README
  README.md
  weave/README.md
  weave/samples/sensor_monitor/README.md
  weave/tests/subsys/weave/unit_test/src/test_message_processing.c
Due: clang-format-diff, run-weave-tests

weave: refactor API
  weave/README.md
  weave/include/zephyr_io/weave/weave.h
  weave/samples/sensor_monitor/README.md
  weave/samples/sensor_monitor/src/main.c
  weave/samples/sensor_monitor/src/monitor_module.c
  weave/samples/sensor_monitor/src/monitor_module.h
  weave/samples/sensor_monitor/src/sensor_module.c
  weave/samples/sensor_monitor/src/sensor_module.h
  weave/subsys/weave/sections-rom.ld
  weave/subsys/weave/weave_core.c
  weave/tests/subsys/weave/unit_test/src/test_common.c
  weave/tests/subsys/weave/unit_test/src/test_common.h
  weave/tests/subsys/weave/unit_test/src/test_concurrency.c
  weave/tests/subsys/weave/unit_test/src/test_init.c
  weave/tests/subsys/weave/unit_test/src/test_memory.c
  weave/tests/subsys/weave/unit_test/src/test_message_processing.c
  weave/tests/subsys/weave/unit_test/src/test_method_calls.c
  weave/tests/subsys/weave/unit_test/src/test_signals.c
  weave/tests/subsys/weave/unit_test/src/test_stress.c
  weave/tests/subsys/weave/unit_test/src/test_timeouts.c
Due: clang-format-diff, run-weave-tests

flow: reworked unit tests and simplified the event_queue mechanism
  flow/README.md
  flow/doc/index.rst
  flow/include/zephyr_io/flow/flow.h
  flow/samples/basic_packet_routing/src/echo.c
  flow/samples/basic_packet_routing/src/processor.c
  flow/subsys/flow/flow.c
  flow/tests/subsys/flow/integration/src/main.c
  flow/tests/subsys/flow/runtime_test/src/main.c
  flow/tests/subsys/flow/unit_test/src/main.c
Due: clang-format-diff, run-flow-tests

flow: streamline connection management by removing internal helper functions
  flow/subsys/flow/flow_runtime.c
Due: clang-format-diff, run-flow-tests

flow: refactor flow_sink_deliver to use switch-case for mode handling
  flow/subsys/flow/flow.c
Due: clang-format-diff, run-flow-tests

flow: enhance buffer management with metadata
  .clang-format
  flow/README.md
  flow/doc/index.rst
  flow/include/zephyr_io/flow/flow.h
  flow/samples/basic_packet_routing/README.md
  flow/samples/basic_packet_routing/prj.conf
  flow/samples/basic_packet_routing/sample.yaml
  flow/samples/basic_packet_routing/src/echo.c
  flow/samples/basic_packet_routing/src/echo.h
  flow/samples/basic_packet_routing/src/main.c
  flow/samples/basic_packet_routing/src/processor.c
  flow/samples/basic_packet_routing/src/processor.h
  flow/samples/basic_packet_routing/src/validator.c
  flow/samples/basic_packet_routing/src/validator.h
  flow/samples/router_sample/CMakeLists.txt
  flow/samples/router_sample/README.md
  flow/samples/router_sample/prj.conf
  flow/samples/router_sample/pytest/conftest.py
  flow/samples/router_sample/pytest/test_router_tcp.py
  flow/samples/router_sample/src/cmd_handler.c
  flow/samples/router_sample/src/cmd_handler.h
  flow/samples/router_sample/src/main.c
  flow/samples/router_sample/src/protocol.c
  flow/samples/router_sample/src/protocol.h
  flow/samples/router_sample/src/sensors.c
  flow/samples/router_sample/src/sensors.h
  flow/samples/router_sample/src/tcp_server.c
  flow/samples/router_sample/src/tcp_server.h
  flow/samples/router_sample/tcp_client.py
  flow/samples/router_sample/testcase.yaml
  flow/subsys/flow/Kconfig
  flow/subsys/flow/flow.c
  flow/tests/subsys/flow/integration/CMakeLists.txt
  flow/tests/subsys/flow/integration/prj.conf
  flow/tests/subsys/flow/integration/src/main.c
  flow/tests/subsys/flow/integration/testcase.yaml
  flow/tests/subsys/flow/runtime_test/src/main.c
  flow/tests/subsys/flow/unit_test/src/main.c
Due: clang-format-diff, run-flow-tests

gitignore: add .clang-format to ignore list
  .gitignore
Due: none

flow: enhance packet ID validation in flow_source_send and add metadata tests
  flow/samples/router_sample/Kconfig
  flow/subsys/flow/flow.c
  flow/tests/subsys/flow/unit_test/src/main.c
  flow/tests/subsys/flow/unit_test/testcase.yaml
Due: clang-format-diff, run-flow-tests

flow: add automatic sampling start option in sensor module
  flow/samples/router_sample/src/sensors.c
  flow/samples/router_sample/testcase.yaml
Due: clang-format-diff, run-flow-tests

docs: update README examples and remove outdated configuration details
  flow/README.md
  flow/samples/router_sample/README.md
Due: run-flow-tests

flow: refactor packet source and sink definitions to use filtering instead of routing
  flow/README.md
  flow/doc/index.rst
  flow/include/zephyr_io/flow/flow.h
  flow/samples/router_sample/src/sensors.c
  flow/subsys/flow/flow.c
  flow/tests/subsys/flow/unit_test/src/main.c
Due: clang-format-diff, run-flow-tests

fix CI to work with new weave lib
  .github/actions/setup-zephyr-modules/action.yml
  .github/workflows/test_and_coverage.yml
Due: none

docs: update README
  README.md
Due: none

fix: update user_data parameter type in Weave method and packet handlers
  libs/weave/include/weave/core.h
  libs/weave/include/weave/method.h
  libs/weave/include/weave/packet.h
  libs/weave/src/method.c
  libs/weave/tests/core/unit_test/src/main.c
Due: clang-format-diff

feat: implement claim/finish/publish API for weave observables
  libs/weave/include/weave/observable.h
  libs/weave/src/observable.c
  libs/weave/tests/observable/unit_test/src/main.c
Due: clang-format-diff

feat: add Weave Observable Register-Based Settings sample
  libs/weave/samples/settings_registers/CMakeLists.txt
  libs/weave/samples/settings_registers/prj.conf
  libs/weave/samples/settings_registers/pytest/test_settings_registers.py
  libs/weave/samples/settings_registers/sample.yaml
  libs/weave/samples/settings_registers/src/main.c
  libs/weave/samples/settings_registers/src/motor_settings.c
  libs/weave/samples/settings_registers/src/motor_settings.h
  libs/weave/samples/settings_registers/src/network_settings.c
  libs/weave/samples/settings_registers/src/network_settings.h
  libs/weave/samples/settings_registers/src/settings.c
  libs/weave/samples/settings_registers/src/settings.h
Due: clang-format-diff

feat: remove ops from sinks, but sent them alongside the data
  libs/weave/docs/core.rst
  libs/weave/include/weave/core.h
  libs/weave/include/weave/method.h
  libs/weave/include/weave/observable.h
  libs/weave/include/weave/packet.h
  libs/weave/src/core.c
  libs/weave/src/method.c
  libs/weave/src/observable.c
  libs/weave/tests/core/unit_test/src/main.c
  libs/weave/tests/packet/unit_test/src/main.c
Due: clang-format-diff

refactor: remove redundant module addition from unit test CMakeLists
  libs/weave/tests/core/unit_test/CMakeLists.txt
  libs/weave/tests/method/unit_test/CMakeLists.txt
  libs/weave/tests/observable/unit_test/CMakeLists.txt
  libs/weave/tests/packet/unit_test/CMakeLists.txt
Due: none

refactor: remove unnecessary spinlock from weave source operations
  libs/weave/include/weave/core.h
  libs/weave/src/core.c
Due: clang-format-diff

refactor: fix test_settings_set
  libs/weave/samples/observable/pytest/test_settings.py
Due: none

feat: implement recursion guard for observable publish and set operations
  libs/weave/include/weave/observable.h
  libs/weave/src/observable.c
  libs/weave/tests/observable/unit_test/src/main.c
Due: clang-format-diff

feat: add memslab core sample with custom datatypes and test case
  libs/weave/samples/memslab_core/CMakeLists.txt
  libs/weave/samples/memslab_core/prj.conf
  libs/weave/samples/memslab_core/src/main.c
  libs/weave/samples/memslab_core/testcase.yaml
Due: clang-format-diff

feat: add script to generate merged compile_commands.json for weave samples
  scripts/generate_compile_commands.sh
Due: none

feat: add documentation build and deployment
  .github/workflows/docs.yml
  libs/weave/docs/_static/latex/title.tex
  libs/weave/docs/conf.py
  libs/weave/docs/index.rst
  libs/weave/docs/observable.rst
  scripts/build_docs.sh
Due: none

feat: add pytest plugin for Zephyr IO hardware testing with TCP fixtures
  scripts/pylib/pytest-zephyr-io-harness/README.md
  scripts/pylib/pytest-zephyr-io-harness/pyproject.toml
  scripts/pylib/pytest-zephyr-io-harness/setup.cfg
  scripts/pylib/pytest-zephyr-io-harness/src/zephyr_io_harness/__init__.py
  scripts/pylib/pytest-zephyr-io-harness/src/zephyr_io_harness/fixtures.py
  scripts/pylib/pytest-zephyr-io-harness/src/zephyr_io_harness/plugin.py
Due: none

feat: enhance TCP connection timeout configuration in pytest plugin
  scripts/pylib/pytest-zephyr-io-harness/src/zephyr_io_harness/fixtures.py
  scripts/pylib/pytest-zephyr-io-harness/src/zephyr_io_harness/plugin.py
Due: none

Add fixtures for hardware testing in pytest framework
  .github/actions/setup-zephyr-modules/action.yml
  samples/packet_routing/pytest/conftest.py
  samples/packet_routing/pytest/test_router_tcp.py
  scripts/pylib/pytest-test-harness/README.md
  scripts/pylib/pytest-test-harness/pyproject.toml
  scripts/pylib/pytest-test-harness/setup.cfg
  scripts/pylib/pytest-test-harness/src/test_harness/__init__.py
  scripts/pylib/pytest-test-harness/src/test_harness/fixtures/__init__.py
  scripts/pylib/pytest-test-harness/src/test_harness/fixtures/flash.py
  scripts/pylib/pytest-test-harness/src/test_harness/fixtures/http.py
  scripts/pylib/pytest-test-harness/src/test_harness/fixtures/tcp.py
  scripts/pylib/pytest-test-harness/src/test_harness/fixtures/udp.py
  scripts/pylib/pytest-test-harness/src/test_harness/plugin.py
  scripts/pylib/pytest-zephyr-io-harness/README.md
  scripts/pylib/pytest-zephyr-io-harness/src/zephyr_io_harness/__init__.py
  scripts/pylib/pytest-zephyr-io-harness/src/zephyr_io_harness/fixtures.py
Due: none

Add settings table sample
  samples/settings_table/CMakeLists.txt
  samples/settings_table/prj.conf
  samples/settings_table/pytest/test_settings_shell.py
  samples/settings_table/sample.yaml
  samples/settings_table/sections-rom.ld
  samples/settings_table/src/main.c
  samples/settings_table/src/motor_settings.c
  samples/settings_table/src/sensor_settings.c
  samples/settings_table/src/settings_api.c
  samples/settings_table/src/settings_api.h
  samples/settings_table/src/settings_shell.c
Due: clang-format-diff

Path conditions:
  clang-format-diff: any of: \.(c|h|cpp|hpp|cc|cxx)$, but not: ^(modules/|bootloader/|zephyr/|tools/)
  run-flow-tests: any of: ^flow/.*
  run-weave-tests: any of: ^weave/.*
